*.o
*.pyc
*.mod

#--------
hycom/MSCPROGS/bin/
hycom/MSCPROGS/bin_setup/
hycom/MSCPROGS/lib/
hycom/MSCPROGS/src/Average/ensave
hycom/MSCPROGS/src/Average/hycave
hycom/MSCPROGS/src/Barstrf/hyc2bastrf
hycom/MSCPROGS/src/Conf_grid/Code/grid
hycom/MSCPROGS/src/ConfmapRoutines/confmap_gmap
hycom/MSCPROGS/src/ConfmapRoutines/confmap_ll2ij
hycom/MSCPROGS/src/Curviint/curviint-2.1
hycom/MSCPROGS/src/Curviint/curviint-2.2
hycom/MSCPROGS/src/Curviint/curviint_sed-2.2
hycom/MSCPROGS/src/DProfile/dprofile
hycom/MSCPROGS/src/DateTools/datetojul
hycom/MSCPROGS/src/DateTools/jultodate
hycom/MSCPROGS/src/Ensstat/ensstat_field
hycom/MSCPROGS/src/Ensstat/ensstat_point
hycom/MSCPROGS/src/ExtractNC2D/tec_nc_conv
hycom/MSCPROGS/src/ExtractNC3D/h2nc
hycom/MSCPROGS/src/FindLayer/findlayer
hycom/MSCPROGS/src/GridToLL/findnearest
hycom/MSCPROGS/src/GridToLL/gridtoll
hycom/MSCPROGS/src/Hyc2proj/hyc2proj
hycom/MSCPROGS/src/Hyc2proj/hyc2stations
hycom/MSCPROGS/src/IceDrift/icedrift2
hycom/MSCPROGS/src/IceDrift/icedrift_osisaf
hycom/MSCPROGS/src/Idealized_Grid/igrid
hycom/MSCPROGS/src/Idealized_Grid/irstrt
hycom/MSCPROGS/src/MkEnsemble/create_single_mem
hycom/MSCPROGS/src/MkEnsemble/gen_ens
hycom/MSCPROGS/src/Model_input-2.2.12/thkdf4-2.2.12
hycom/MSCPROGS/src/Model_input-2.2.37/sssrmx-2.2.37
hycom/MSCPROGS/src/Model_input-2.2.37/thkdf4-2.2.37
hycom/MSCPROGS/src/Nersclib/libconfmap.a
hycom/MSCPROGS/src/Nersclib/libhycnersc.a
hycom/MSCPROGS/src/Relax/rmunew
hycom/MSCPROGS/src/RelaxToNetCDF/hclimlevels
hycom/MSCPROGS/src/RelaxToNetCDF/hclimtonc
hycom/MSCPROGS/src/River_Forcing/biorivers
hycom/MSCPROGS/src/River_Forcing/rivers
hycom/MSCPROGS/src/SSHFromState/ssh_from_restart
hycom/MSCPROGS/src/Section/section_intersect
hycom/MSCPROGS/src/Section/section_plot
hycom/MSCPROGS/src/Section/section_transport
hycom/MSCPROGS/src/Section/section_transport2
hycom/MSCPROGS/src/TRIP/trip_flow
hycom/MSCPROGS/src/TRIP/trip_paths
hycom/MSCPROGS/src/TRIP/trip_tobiorivGN
hycom/MSCPROGS/src/TRIP/trip_tohycom
hycom/MSCPROGS/src/TRIP/trip_tohycomrt
hycom/MSCPROGS/src/TRIP/trip_weights
hycom/MSCPROGS/src/ZONAL/mosf
hycom/MSCPROGS/src/ZONAL/zonal

